<div class="row">
    <div class="col-lg-8">
        <div class="border-bottom py-3">
            <h5>Shipping</h5>
            <p class="text-secondary">Address: 10 Main st, Boston 02101, USA</p>
        </div>
        <div class="border-bottom py-3">
            <h5>Payment Method</h5>
            <p class="text-secondary">Method: Paypal</p>
        </div>
        <div class="py-3">
            <h5>Order Items</h5>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="border bg-light mt-5 mt-lg-0">
            <h5 class="text-center border-bottom p-3">Order Summary</h5>
            <div class="d-flex justify-content-between px-3 py-2">
               <div>Items</div>
               <div>$30.00</div>
            </div>
            <div class="d-flex justify-content-between px-3 py-2">
                <div>Shipping</div>
                <div>$0.00</div>
             </div>
             <div class="d-flex justify-content-between px-3 py-2">
                <div>Tax</div>
                <div>$0.00</div>
             </div>
             <div class="d-flex justify-content-between p-3 border-top font-weight-bold" style="font-size: 20px;">
                <div>Total</div>
                <div>$30.00</div>
             </div>
             <button class="btn btn-block btn-info btn-lg font-weight-bold mb-n4">Place Order</button>
        </div>
        
    </div>
</div>