<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs border-0">
    <li [ngbNavItem]="1" class="flex-grow-1 text-center">
        <a ngbNavLink class="px-0 py-2 text-uppercase border">1. Shopping Cart</a>
        <ng-template ngbNavContent>
            <div class="row mx-0 mt-5">
                <div class="col-12 cart__list mb-4 px-0">
                    <table class="w-100 table table-bordered">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="item__action text-center"><button class="btn"><i
                                            class="fas fa-trash-alt"></i></button></td>
                                <td class="item__img">
                                    <img src="https://cdn.32pt.com/public/sl-prod-od-0/images/retail-products/62F7E33737F0E6/62F7E33737F0E6-1130EB9918B0-GS2-TC0-ATH/front/medium.jpg"
                                        alt="">
                                </td>
                                <td class="item__name">
                                    T-Shirt for Women
                                </td>
                                <td class="item__price">
                                    $358.00
                                </td>
                                <td class="item__quantity">
                                    <div class="quantity-control d-flex justify-content-center">
                                        <button class="btn btn-sm border"><i class="fas fa-minus"></i></button>
                                        <input type="text" class="border">
                                        <button class="btn btn-sm border"><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td class="item__total">
                                    $358.00
                                </td>
                            </tr>
                            <tr>
                                <td class="item__action text-center"><button class="btn"><i
                                            class="fas fa-trash-alt"></i></button></td>
                                <td class="item__img">
                                    <img src="https://cdn.32pt.com/public/sl-prod-od-0/images/retail-products/62F7E33737F0E6/62F7E33737F0E6-1130EB9918B0-GS2-TC0-ATH/front/medium.jpg"
                                        alt="">
                                </td>
                                <td class="item__name">
                                    T-Shirt for Women
                                </td>
                                <td class="item__price">
                                    $358.00
                                </td>
                                <td class="item__quantity">
                                    <div class="quantity-control d-flex justify-content-center">
                                        <button class="btn btn-sm border"><i class="fas fa-minus"></i></button>
                                        <input type="text" class="border">
                                        <button class="btn btn-sm border"><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td class="item__total">
                                    $358.00
                                </td>
                            </tr>
                            <tr>
                                <td class="item__action text-center"><button class="btn"><i
                                            class="fas fa-trash-alt"></i></button></td>
                                <td class="item__img">
                                    <img src="https://cdn.32pt.com/public/sl-prod-od-0/images/retail-products/62F7E33737F0E6/62F7E33737F0E6-1130EB9918B0-GS2-TC0-ATH/front/medium.jpg"
                                        alt="">
                                </td>
                                <td class="item__name">
                                    T-Shirt for Women
                                </td>
                                <td class="item__price">
                                    $358.00
                                </td>
                                <td class="item__quantity">
                                    <div class="quantity-control d-flex justify-content-center">
                                        <button class="btn btn-sm border"><i class="fas fa-minus"></i></button>
                                        <input type="text" class="border">
                                        <button class="btn btn-sm border"><i class="fas fa-plus"></i></button>
                                    </div>
                                </td>
                                <td class="item__total">
                                    $358.00
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ml-auto cart__summary col-lg-5 px-0 bg-light rounded">
                    <div class="d-flex justify-content-between align-items-center w-100 border-bottom p-3">
                        <h3 class="mb-0">Subtotal</h3>
                        <p class="total__price mb-0">$345</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100 p-3">
                        <h3 class="mb-0">Total</h3>
                        <p class="total__price mb-0">$345</p>
                    </div>
                    <div class="px-3 mb-n5">
                        <button class="btn-checkout btn btn-info btn-block btn-lg py-3">Proceed to Checkout</button>
                    </div>

                </div>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2" class="flex-grow-1 text-center" [disabled]="false">
        <a ngbNavLink class="px-0 py-2 text-uppercase border">2. Billing</a>
        <ng-template ngbNavContent>

        </ng-template>
    </li>
    <li [ngbNavItem]="3" class="flex-grow-1 text-center" [disabled]="false">
        <a ngbNavLink class="px-0 py-2 text-uppercase border">3. Payment</a>
        <ng-template ngbNavContent>

        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2 mb-5"></div>
