.ecommerce {

  &__cart {

    .nav-tabs>.nav-item {
      >.nav-link {
        font-weight: bold;
        color: #B2BEC3;
        border-radius: 0;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      background-color: #FC6514 !important;
      color: #fff;
    }

    .cart__list {
      table {
        th {
          text-transform: uppercase;
          font-size: 13px;
          text-align: center;
        }

        [class^="item"] {
          text-align: center;
          vertical-align: middle;
        }

        .item {
          &__action {
            width: 60px;
          }

          &__img {
            img {
              width: 50px;
              height: auto;
            }
          }
        }

        .quantity-control {
          button {
            z-index: 1;
          }

          input {
            width: 50px;
            text-align: center;
          }
        }
      }
    }

    .cart__summary {
      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      .btn-checkout {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: .5px;
      }

      .total__price {
        font-size: 18px;
        font-weight: bold;
      }
    }

    .cart-empty {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
