.ecommerce {

  &__cart {

    .nav-tabs>.nav-item {
      >.nav-link {
        font-weight: bold;
        color: #B2BEC3;
        border-radius: 0;
        font-size: 14px;
        border-width: 2px !important;
        font-weight: bold;
      }


      &:nth-child(even) {
        >.nav-link {
          border-left-color: transparent !important;
          border-right-color: transparent !important;
        }

      }
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
      border-bottom-color: #FC6514 !important;
      color: #FC6514;
    }

    .cart__list {
      table {
        th {
          text-transform: uppercase;
          font-size: 13px;
          text-align: center;
        }

        [class^="item"] {
          text-align: center;
          vertical-align: middle;
        }

        .item {
          &__action {
            width: 60px;
          }

          &__img {
            img {
              width: 50px;
              height: auto;
            }
          }
        }

        .quantity-control {
          button {
            z-index: 1;
          }

          input {
            width: 50px;
          }
        }
      }
    }

    .cart__summary {
      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      .btn-checkout {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: .5px;
      }

      .total__price {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
