.ecommerce {

  .header {
    &__cart {
      font-size: 18px;
      margin-left: 35px;
      cursor: pointer;
      position: relative;
      color: #B2BEC3;
      margin-right: 10px;
    }
  }

  .cart {
    &__amount {
      top: -10px;
      right: -10px;
      min-width: 20px;
      min-height: 20px;
      border-width: 2px;
      border-radius: 50%;
      font-size: 12px;
    }
  }
}
