//  Author: Nguyen Chinh Hiep
//  Email: nguyenchinhhiep95@gmail.com
//  Facebook: facebook.com/hiepnguyen1003

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin common-theme($theme) {

  @each $theme, $value in $themes {
      $background: map-get($value, background );
      $text-base: map-get($value, text-base);
      

      body.#{$theme} {
        background-color: $background;
        color: $text-base;
      }
       
  }
  
}