.port {

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    z-index: 99;

    .nav {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >.theme-switcher {
        margin-left: auto;
        display: flex;
        align-items: center;

        >.light-icon,
        >.dark-icon {
          width: 17px;
          height: 17px;
          background-size: 100%;
        }


        >.toggler {
          margin: 10px;

          >label {
            width: 45px;
            height: 25px;
            margin: 0;
            display: block;
            border-radius: 10em;
            cursor: pointer;
            position: relative;
          }


          >label::before {
            content: '';
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            top: 3px;
            left: 3px;
            cursor: pointer;
            transition: all ease .2s;
          }

          >input {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
            visibility: hidden;
          }


          >input:checked+label::before {
            left: 22px;
          }
        }
      }
    }
  }
}
