<div class="row" *ngIf="(product$ | async) as product">
    <div class="col-md-8">
        <div class="product-detail__img">
            <div class="row mx-0">
                <div class="col-md-3">
                    <div class="img__thumbs">

                    </div>
                </div>
                <div class="flex-grow-1">
                    <div class="img__preview">
                        <img src="{{product.photos[0]}}" alt="">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-4">
        <div class="product-detail__info">
            <div class="product-detail__name">{{product.name}}</div>
            <div class="product-detail__price text-danger font-weight-bold mt-3 mb-4">${{product.price}}</div>
            <div class="product-detail__overview my-4">
                <div class="font-weight-bold mr-3 mb-3">Overview:</div>
                <p>{{product.description}}</p>
            </div>
            <div class="product-detail__quantity my-4 d-flex align-items-center">
                <div class="font-weight-bold mr-3">Quantity:</div>
                <div class="quantity-control d-flex">
                    <button class="btn btn-sm border"><i class="fas fa-minus"></i></button>
                    <input type="text" class="border">
                    <button class="btn btn-sm border"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            <button class="btn product-detail__cart btn-info btn-block mt-5 font-weight-bold py-3" (click)="onAddToCart()">Add To Cart</button>
        </div>
    </div>
</div>
