<div class="product__image" (click)="onGoToDetail()">
    <img src="https://cdn.32pt.com/public/sl-prod-od-0/images/retail-products/6262B2AA13F5F7/6262B2AA13F5F7-D806F050036E-GS0-TC0-BLK/front/medium.jpg"
        alt="">
</div>
<div class="product__desc">
    <div class="product__name" (click)="onGoToDetail()">
        Break Gender Norms
    </div>
    <div class="product__price font-weight-bold text-danger">$24.00</div>
    <button class="btn product__cart btn-info btn-block mt-3" (click)="onAddToCart()">Add to cart</button>
</div>