.ecommerce {

    &__header {
        display: flex;
        height: 64px;
        flex-shrink: 0;
        border-bottom: 1px solid #f0f2f3;
    }

    .header {
        &__inner {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &__logo {
            font-size: 24px;
            font-weight: bold;
            color: inherit;
            text-decoration: none;

            > span {
                color: #FC6514;
            }
        }

        &__auth {
            margin-left: auto;
            font-size: 14px;
            cursor: pointer;
            font-weight: 600;
            > a {
                display: block;
            }
        }

        &__cart {
            font-size: 18px;
            margin-left: 35px;
            cursor: pointer;
            position: relative;
            color: #B2BEC3;
            margin-right: 10px;
        }

        &__auth:hover, &__cart:hover > i {
            color: #FC6514;
        }
    }
}