.ecommerce {
    font-family: 'Apercu', sans-serif;
    color: #2D3436;

    &__header {
        display: flex;
        height: 64px;
        flex-shrink: 0;
        border-bottom: 1px solid #f0f2f3;
    }

    .header {
        &__inner {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }

        &__logo {
            font-size: 24px;
            font-weight: bold;

            > span {
                color: #FC6514;
            }
        }

        &__auth {
            margin-left: auto;
            font-size: 16px;
            cursor: pointer;
            font-weight: 500;
            > a {
                display: block;
            }
        }

        &__cart {
            font-size: 18px;
            margin-left: 35px;
            cursor: pointer;
        }

        &__auth:hover, &__cart:hover > i {
            color: #FC6514;
        }
    }
}