@import './port-header/port-header.theme.scss';
@import './port-hero/port-hero.theme.scss';
$theme-portfolio: (
    light: (
        text-primary: #444452,
        text-secondary: #878A8F,
        accent: #4285f4,
        background: #FFFFFF,
        background-secondary: #CED0D4
    ),
    dark: (
        text-primary: #EEEEEE,
        text-secondary: #afafbf,
        accent: #4285f4,
        background: #171c28,
        background-secondary: #393e46
    )
);

@mixin portfolio-theme($themes) {
    @include port-header-theme($themes);
    @include port-hero-theme($themes);

    @each $theme, $value in $themes {
        $text-primary: map-get($value, text-primary );
        $text-secondary: map-get($value, text-secondary);
        $accent: map-get($value, accent);
        $background: map-get($value, background );
        $background-secondary: map-get($value, background-secondary);
        
        .port {
            .theme-port-#{$theme} {
                background-color: $background !important;
                @if $theme == 'dark' {
                    color: $text-secondary;
                }
      
                .text-primary {
                    color: $text-primary !important;
                }
    
                .text-secondary {
                    color: $text-secondary !important;
                }
    
                .text-accent {
                    color: $accent !important;
                }
    
                .bg-accent {
                    background: $accent !important;
                }

                .bg-secondary {
                    background: $background-secondary !important;
                }
              }
       }
      
    }
    
  }

  @include portfolio-theme($theme-portfolio);