$theme-portfolio: (
    light: (
        text-primary: #444452,
        text-secondary: #424242,
        accent: #2e89ff,
        text-muted: #cccccc
    ),
    dark: (
        text-primary: #ffffff,
        text-secondary: #ffffffd6,
        text-muted: #cccccc,
        accent: #2e89ff
    )
);

@mixin port-theme($themes) {

    @each $theme, $value in $themes {
        $text-primary: map-get($value, text-primary );
        $text-secondary: map-get($value, text-secondary);
        $text-muted: map-get($value, text-muted);
        $text-accent: map-get($value, accent);
        
  
        .theme-port-#{$theme} {
          

            .text-primary {
                color: $text-primary !important;
            }

            .text-secondary {
                color: $text-secondary !important;
            }

            .text-muted {
                color: $text-muted !important;
            }

            .text-accent {
                color: $text-accent !important;
            }

            .accent {
                background: $text-accent !important;
            }
        }
         
    }
    
  }

  @include port-theme($theme-portfolio);