.port {
  display: block;
  background-color: #1c1e21;
  font-family: 'Graphik', sans-serif !important;


  .container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .section {
    margin-bottom: 200px;

    &__inner {
      display: flex;
      flex-direction: column;
      max-width: 660px;
      margin: 0 auto;
      width: 100%;
    }

    &__content {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      width: 100%;
      margin-bottom: 25px;
      flex-shrink: 0;
      letter-spacing: .5px;
    }
  }

  .btn {
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 0;
    padding: 12px 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }


  .highlight-link {
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 #4285f4;

    &:hover {
      box-shadow: inset 0 -33px 0 0 #4285f4;
      color: #fff !important;
    }
  }
}
