.port {
  position: relative;

  [data-scroll] {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  &.transition {

    .toggler>label,
    .toggler>label::before {
      transition: all ease .2s !important;
    }

    &,
    *,
    *::before,
    *::after {

      transition: all ease 0s !important;
      transition-delay: 0s !important;

    }
  }

  display: block;
  font-family: 'Graphik',
  sans-serif !important;


  .container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .section {
    margin-bottom: 200px;

    &__inner {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;
      width: 100%;
    }

    &__content {
      font-size: 17px;
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      width: 100%;
      margin-bottom: 40px;
      flex-shrink: 0;
      letter-spacing: .5px;
    }
  }

  .btn {
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 0;
    padding: 12px 30px;
    text-align: center;
    cursor: pointer;
  }


  .highlight-link {
    transition: all ease .2s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 #4285f4;

    &:hover {
      box-shadow: inset 0 -33px 0 0 #4285f4;
      color: #fff !important;
    }
  }

  @media(max-width: 940px) {

    .scroll-to-top,
    .contact {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }


  @media(max-width: 920px) {

    .container {
      max-width: 720px;
    }

    .section {

      &__title {
        font-size: 24px;
      }
    }

    &__hero {

      h1 {
        font-size: 43px !important;
        letter-spacing: 0 !important;
      }

      .buttons {
        font-size: 14px !important;

        >a {
          font-size: 16px !important;
        }
      }
    }

    &__footer {
      .copyright {
        font-size: 13px !important;
     }
    }
  }

 


  @media(max-width: 740px) {
    .container {
      max-width: 640px;
    }

    &__header {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }

    &__hero {
      h1 {
        font-size: 38px !important;
      }
    }


  }

  @media(max-width: 660px) {
    .container {
      max-width: 560px;
    }

    .section {

      &__title {
        font-size: 22px;
      }


      &__content {
        font-size: 15px;

        .project__name {
          font-size: 15px;
        }

        .skills__category li,
        .project__description,
        .job__time,
        .job__detail>li {
          font-size: 14px;
        }
      }
    }

    &__hero {
      h1 {
        font-size: 33px !important;
      }

      .buttons {
        font-size: 13px !important;

        >a {
          font-size: 14px !important;
        }
      }
    }

    


  }


  @media(max-width: 580px) {

    .container {
      max-width: 480px;
    }

    .section {

      &__title {
        margin-bottom: 30px !important;
      }

      &__content {
        font-size: 14px;


        .skills__category li,
        .project__description,
        .job__time,
        .job__detail>li {
          font-size: 14px;
        }
      }
    }

    &__hero {
      h1 {
        font-size: 28px !important;
      }
    }


  }



  @media(max-width: 490px) {

    .container {
      max-width: 390px;
    }

    .section {

      &__title {
        font-size: 18px;
      }

      &__content {
        font-size: 13px;

        .project__name {
          font-size: 14px;
        }

        .skills__category li,
        .project__description,
        .job__time,
        .job__detail>li {
          font-size: 13px;
        }
      }
    }

    &__hero {
      h1 {
        font-size: 22px !important;
        line-height: 2 !important;
      }

      .buttons {
        > span {
          margin: 0 10px !important;
        }

        >a {
          font-size: 13px !important;
        }
      }
    }


    &__footer {

      font-size: 12px !important;

      &-contact {

        > li {
          font-size: 11px !important;
          margin: 0 15px 10px 15px !important;
        }
      }
    }
  }

  @media(max-width: 395px){

    .container {
      max-width: 350px;
    }

    &__hero {
      h1 {
        font-size: 19.8px !important;
      }

      .buttons {
        font-size: 11px !important;

        >a {
          font-size: 12px !important;
        }
      }
    }

    &__skills {
      
      .skills__category {

        &:nth-child(2) {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        &:last-child {
          flex-grow: 1 !important;
          margin: 0 auto !important;
        }
      }
    }
  }

}
