$theme-portfolio: (
    light: (
        text-primary: #444452,
        text-secondary: #878A8F,
        accent: #4285F4,
        background: #FFFFFF
    ),
    dark: (
        text-primary: #FFFFFF,
        text-secondary: #AAAAAA,
        accent: #4285F4,
        background: #171717
    )
);

@mixin port-theme($themes) {

    @each $theme, $value in $themes {
        $text-primary: map-get($value, text-primary );
        $text-secondary: map-get($value, text-secondary);
        $text-accent: map-get($value, accent);
        $background: map-get($value, background );
        
  
        .theme-port-#{$theme} {
          background-color: $background !important;

            .text-primary {
                color: $text-primary !important;
            }

            .text-secondary {
                color: $text-secondary !important;
            }

            .text-accent {
                color: $text-accent !important;
            }

            .accent {
                background: $text-accent !important;
            }
        }
         
    }
    
  }

  @include port-theme($theme-portfolio);