.port {
  position: relative;

  [data-scroll] {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 20px,0);
  }

  &.transition {

    .toggler>label,
    .toggler>label::before {
      transition: all ease .2s !important;
    }

    &,
    *,
    *::before,
    *::after {

      transition: all ease 0s !important;
      transition-delay: 0s !important;

    }
  }

  display: block;
  font-family: 'Graphik',
  sans-serif !important;


  .container {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .section {
    margin-bottom: 200px;

    &__inner {
      display: flex;
      flex-direction: column;
      max-width: 700px;
      margin: 0 auto;
      width: 100%;
    }

    &__content {
      font-size: 17px;
    }

    &__title {
      font-size: 32px;
      font-weight: 700;
      width: 100%;
      margin-bottom: 40px;
      flex-shrink: 0;
      letter-spacing: .5px;
    }
  }

  .btn {
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 0;
    padding: 12px 30px;
    text-align: center;
    cursor: pointer;
  }


  .highlight-link {
    transition: all ease .2s;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    font-size: 14px;
    box-shadow: inset 0 -3px 0 #4285f4;

    &:hover {
      box-shadow: inset 0 -33px 0 0 #4285f4;
      color: #fff !important;
    }
  }
}
