.port {
  font-family: 'Poppins', sans-serif !important;


  .container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .section {
    margin-bottom: 100px;

    &__inner {
      display: flex;
      justify-content: center;
    }

    &__content {
      font-size: 16px;
      flex-grow: 1;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      width: 100%;
      max-width: 200px;
      letter-spacing: .5px;
    }
  }

  .button {
    font-size: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    border: 0;
    padding: 12px 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .highlight-link {
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: inset 0 -3px 0 #2e89ff;

    &:hover {
      box-shadow: inset 0 -33px 0 0 #2e89ff;
      color: #fff !important;
    }
  }
  

}
