.port {


   .email {
      position: fixed;
      right: 4rem;
      bottom: 0;
      width: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      > a {
      writing-mode: vertical-rl;
      font-size: 1.3rem;
      padding: 1rem;
      letter-spacing: .2rem;
      color: #000;
      }

      &::after {
         content: '';
         margin-top: 2rem;
         display: inline-block;
         height: 11rem;
         width: .1rem;
         background: #000;
      }
   }
}