.port {

  &__hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;

    &-inner {
      position: relative;
      padding: 15rem 3rem;
      flex-grow: 1;
      width: 100%;
      max-width: 117rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      > h1 {
        font-size: 5rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 700;
        letter-spacing: 6px;
      }

      > h2 {
         font-size: 1.6rem;
         text-transform: uppercase;
         margin-bottom: 1rem;
         font-weight: 600;
         letter-spacing: 2px;
      }


      .hero-links {
         text-transform: uppercase;
         font-size: 1.3rem;
         font-weight: 500;
         margin-top: 15rem;
         letter-spacing: .6px;
         
         > a {
            cursor: pointer;

            &:hover {
               text-decoration: underline;
            }
         }
         

         > span {
            margin: 0 1.5rem;
         }
      }

      .contact-list {
         position: absolute;
         right: 3rem;
         top: 50%;
         transform: translateY(-50%);
         font-size: 1.8rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;

         >li {
            position: relative;
            margin: 1.5rem 0;
            border: 1px solid;
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
               color: inherit;
            }
         }
      }
    }
  }
}