.port {

  &__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding: 120px 0;


    >img {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0;
      top: 20%;
    }

    &-inner {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-family: 'Poppins', 'Graphik', sans-serif;
        font-size: 50px;
        line-height: 1.5;
        font-weight: bold;
        letter-spacing: 2px;
      }

      p {
        font-size: 20px;
        color: #424242;
        line-height: 1.5;
      }

      .buttons {
        margin-top: 20px;
        font-size: 16px;


        >span {
          margin: 0 20px;
        }

        >a {
          font-size: 18px;
        }
      }
    }
  }
}
