<div class="port__hero-inner">
   <h1>Nguyen Chinh Hiep</h1>
   <h2>Front-end Web Developer</h2>
   <div class="hero-links">
      <a>View projects</a>
      <span>/</span>
      <a>Read about me</a>
   </div>
   <!-- <ul class="contact-list">
      <li>
         <a href="https://www.facebook.com/hiepnguyen1003" target="_blank">
            <i class="fab fa-facebook-f"></i>
         </a>
      </li>
      <li>
         <a href="https://github.com/nguyenchinhhiep" target="_blank">
            <i class="fab fa-github"></i>
         </a>
      </li>
      <li>
         <a href="https://codepen.io/nguyenchinhhiep" target="_blank">
            <i class="fab fa-codepen"></i>
         </a>
      </li>
   </ul> -->
</div>