<div class="port__hero-inner">
   <h1 class="text-primary">
      Hiep Nguyen &#8212;
      a frontend web developer focused on building beautiful interfaces.
   </h1>
   <div class="buttons text-primary">
      <a class="highlight-link ">View Projects</a>
      <span class="text-secondary">or</span>
      <a class="highlight-link">About Me</a>
   </div>
</div>
<a href="mailto:nguyenchinhhiep95@gmail.com" class="contact">
   <i class="far fa-envelope"></i>
   <span>Contact me</span>
</a>
<a class="scroll-to-top" #scrollToTop>
   <i class="fas fa-arrow-up"></i>
</a>   