.port {

  &__hero {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    padding: 120px 0;
    margin-bottom: 100px !important;

    &-inner {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      >h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 53px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
      }

      >.buttons {
        margin-top: 20px;
        font-size: 16px;


        >span {
          margin: 0 20px;
        }

        >a {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    >.contact,
    >.scroll-to-top {
      cursor: pointer;
      position: fixed;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      bottom: 40px;
      overflow: hidden;
      text-decoration: none;
      transition: all .2s cubic-bezier(.3, 0, .5, 1);
      transform: translate3d(0, 0, 0);

      >i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 11px;
        font-size: 18px;
      }

      >span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 35px;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        font-size: 13px;
        font-weight: 600;
        opacity: 0;
        transition: width 0s linear .2s, opacity .2s cubic-bezier(.3, 0, .5, 1);
      }
    }



    >.contact {
      left: 40px;

      &:hover {
        width: 120px;
        background-color: #444452 !important;
        color: #fff !important;
        
        transition: all .2s cubic-bezier(.3, 0, .5, 1);

        >span {
          width: auto;
          opacity: 1;
          transition: width 0s linear .2s, opacity .2s cubic-bezier(.3, 0, .5, 1) .2s;
        }
      }
    }

    >.scroll-to-top {
      right: 40px;
      opacity: 0;
      visibility: hidden;

      &:hover {
        background-color: #444452 !important;
        color: #fff !important;
      }
    }
  }
}
