.port {

  &__projects {
    display: block;


    .project {
      margin-bottom: 50px;
      
      &__name {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__navigate {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >a {
          margin: 0 0 0 20px;
          font-size: 20px;
        }
      }

      &__description {
        font-size: 16px;
        margin-bottom: 20px;
      }

      &__tech {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 15px;

        >li {
          display: inline-block;
          margin: 0 10px 10px 0; 
          font-size: 12px;
          padding: 2px 7px;
          border-radius: 4px;
          letter-spacing: .5px;
          font-weight: 500;
          border: 1px solid;
        }
      }
    }

    .see-more {
      > button {
        background: transparent;
        font-weight: 500;
      }
    }

  }
}
