<div class="section__inner" id="projects">
    <h2 class="section__title text-primary" data-scroll>Projects</h2>
    <div class="section__content">
        <div class="project" *ngFor="let project of displayedProjects" data-scroll>
            <div class="project__name text-primary">
                <span>{{project.name}}</span>
                <div class="project__navigate">
                    <a href="{{project.externalLink}}" class="text-secondary" title="View Project" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                    <a href="{{project.githubLink}}" class="text-secondary" title="Github" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <p class="project__description">
                {{project.description}}
            </p>
            <ul class="project__tech text-secondary">
                <li *ngFor="let tech of project.techList">{{tech}}</li>
            </ul>
        </div>
        <div class="see-more" data-scroll>
            <button class="text-primary" (click)="onSeeMore(5)">See More...</button>
        </div>
    </div>

</div>