.port {

  &__projects {
    display: block;


    .project {
      margin-bottom: 40px;
      
      &__name {
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__navigate {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        >a {
          margin: 0 0 0 20px;
          font-size: 20px;
        }
      }

      &__description {
        font-size: 15px;
        margin-bottom: 20px;
      }

      &__tech {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 15px;

        >li {
          display: inline-block;
          margin: 0 10px 10px 0; 
          font-size: 12px;
          padding: 3px 7px 1px;
          border-radius: 4px;
          letter-spacing: .3px;
          color: #4285f4;
          border: 1px solid #4285f4;
        }
      }
    }

  }
}
