.port {

   &-footer {
      width: 100%;
      min-height: 70px;
      padding: 15px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      text-align: center;


      &__contact {
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-size: 13px;
         text-transform: uppercase;
         letter-spacing: .5px;
         

         >li {
            margin: 0 25px;

            > a {
               font-weight: 600;
            }
         
            &:first-child {
               margin-left: 0;
            }

            &:last-child {
               margin-right: 0;
            }
         }
      }
   }
}