.port {

   &__footer {
      width: 100%;
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      text-align: center;


      &-contact {
         width: 100%;
         margin-top: 25px;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         font-size: 13px;
         text-transform: uppercase;
         letter-spacing: .5px;
         

         >li {
            margin: 0 25px 10px 25px;

            > a {
               font-weight: 600;
            }
      
         }
      }
   }
}