<div class="port-footer__copyright text-secondary">
   <p class="copyright">&copy; 2020 Made with <span style="color: red">&#10084;</span> by Hiep Nguyen.
   </p>
   
</div>
<ul class="port-footer__contact">
   <li>
      <a href="mailto:nguyenchinhhiep95@gmail.com" target="_blank" class="text-accent">
         <!-- <i class="fab fa-facebook-f"></i> -->
         Email
      </a>
    <li>
      <a href="https://www.facebook.com/hiepnguyen1003" target="_blank" class="text-accent">
         <!-- <i class="fab fa-facebook-f"></i> -->
         Facebook
      </a>
   </li>
   <li>
      <a href="https://github.com/nguyenchinhhiep" target="_blank" class="text-accent">
         <!-- <i class="fab fa-github"></i> -->
         Github
      </a>
   </li>
   <li>
      <a href="https://codepen.io/nguyenchinhhiep" target="_blank" class="text-accent">
         <!-- <i class="fab fa-codepen"></i> -->
         Codepen
      </a>
   </li>
</ul>