.port {

   &__footer {
      width: 100%;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .copyright {
         font-size: 15px;
         letter-spacing: .5px;
      }
      &-contact {
         width: 100%;
         margin-bottom: 0;
         margin-top: 14px;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         text-transform: uppercase;
         

         >li {
            margin: 0 25px 10px 25px;
            font-size: 13px;

            > a {
               font-weight: bold;
               letter-spacing: 1px;
            }
      
         }
      }
   }
}