.port {

   &__footer {
      width: 100%;
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      font-size: 13px;
      text-align: center;

      .copyright {
         font-size: 14px;
      }
      &-contact {
         width: 100%;
         margin-bottom: 0;
         margin-top: 15px;
         display: flex;
         flex-wrap: wrap;
         align-items: center;
         justify-content: center;
         text-transform: uppercase;
         letter-spacing: 1px;
         

         >li {
            margin: 0 25px 10px 25px;
            font-size: 12px;

            > a {
               font-weight: 600;
               letter-spacing: 1px;
             
            }
      
         }
      }
   }
}