.ecommerce {

  .header {
    
    &__auth {
      margin-left: auto;
      font-size: 14px;
      cursor: pointer;
      font-weight: 600;

        > a:hover, .account:hover {
          color: #FC6514;
        
      }
  
      >a {
        display: block;
      }

      > .account {
        font-size: 18px;
        color: #B2BEC3;
      }
    }
  }

  
}

.auth-modal {
  font-family: 'Lato', 'Apercu', sans-serif;

  >.modal-dialog {
    max-width: 450px;

  }

  .feedback {
    font-size: 14px;
  }

  .auth__title {
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
  }

  p,
  input,
  label,
  a {
    font-size: 15px;
  }

  a {
    cursor: pointer;
    font-weight: bold;
  }


}
