<a (click)="open(auth)">Log In / Sign Up</a>

<ng-template #auth let-modal>
    <div class="modal-header border-bottom-0 p-2 px-3">
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pb-4">
        <form id="login" *ngIf="isLogin" class="px-3">
            <h2 class="auth__title mb-3">Log in</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary mt-4 btn-block py-2 mb-3 font-weight-bold text-uppercase">Log In</button>
            <p class="mb-3">Don't have an account? <a class="text-info" (click)="onToggleAuth()">Sign Up</a></p>
        </form>
        <form id="sign-up" *ngIf="!isLogin" class="px-3">
            <h2 class="auth__title mb-3">Sign Up</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input type="password" class="form-control" id="confirm-password">
            </div>
            <button type="submit" class="btn btn-primary mt-4 btn-block py-2 mb-3 font-weight-bold text-uppercase">Sign Up</button>
            <p class="mb-3">Already have an account? <a class="text-info" (click)="onToggleAuth()">Log In</a></p>
        </form>
    </div>
</ng-template>