<div class="section__inner">
    <h2 class="section__title text-accent">About me</h2>
    <div class="section__content text-primary">
        <p>I'm currently a front-end web developer based in Ho Chi Minh City, VN. I have one year of experience with solid basic knowlegde in web development. I'm a fast learner, able to learn new things by myself. I taught myself all knowledge about front-end web development without going to school.</p>
        <p>As a front-end web developer, I am responsible for implementing visual elements that users see and interact with in a web application. Sometimes, I take website design files and convert them into HTML, JavaScript (JS) and/or CSS code. My focus is on user experiences.</p>
        <a href="#" class="highlight-link text-primary">View Resume</a>
    </div>
</div>
