.port {

  &__skills {
    display: block;

    p {
      margin-bottom: 25px;
    }

    .skills {
      display: flex;
      justify-content: space-between;

      &__category {
        
        >ul>li {
          font-size: 16px;
          margin-bottom: 10px;

          &::before {
            content: "\2022";
            /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: #878A8F;
            /* Change the color */
            font-weight: bold;
            /* If you want it to be bold */
            display: inline-block;
            /* Needed to add space between the bullet and the text */
            width: 1em;
            /* Also needed for space (tweak if needed) */
            /* Also needed for space (tweak if needed) */
          }
        }
      }
    }
  }
}
