.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: height .5s cubic-bezier(.3, 0, .5, 1);
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  background: #0f141e;
  z-index: 999;

  &.loaded {
    height: 0;

    .loader__icon {
      opacity: 0;
      visibility: hidden;
    }

    .loader__text {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(0, -30px, 0);
      transition: all .2s cubic-bezier(.3, 0, .5, 1);
    }
  }


  &__icon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
    background-color: #878a8f;
    transition: opacity, visibility .2s cubic-bezier(.3, 0, .5, 1);
    animation: scaleout 1s infinite ease-in-out;
    -webkit-animation: scaleout 1s infinite ease-in-out;
    -moz-animation: scaleout 1s infinite ease-in-out;
    -o-animation: scaleout 1s infinite ease-in-out;
    -ms-animation: scaleout 1s infinite ease-in-out;
  }

  &__text {
    position: absolute;
    bottom: 55px;
    left: 60px;
    opacity: 1;
    color: #878a8f;
    animation: fadeIn .4s cubic-bezier(.3,0,.5,1);
    -webkit-animation: fadeIn .4s cubic-bezier(.3,0,.5,1);
    -moz-animation: fadeIn .4s cubic-bezier(.3,0,.5,1);
    -o-animation: fadeIn .4s cubic-bezier(.3,0,.5,1);
    -ms-animation: fadeIn .4s cubic-bezier(.3,0,.5,1);

    >h3 {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 4px;
      margin-bottom: 10px;
    }

    >h1 {
      font-size: 72px;
      font-weight: bold;
      color: #fff;
    }
  }

  @media(max-width: 920px){
    &__text {
      bottom: 30px;
      left: 30px;
      > h1 {
        font-size: 42px;
      }
    }
  }

  @media(max-width: 576px){
    &__text {
      >h3{
        font-size: 12px !important;
      }
      > h1 {
        font-size: 35px;
      }
    }
  }

  @keyframes scaleout {
    0% {
      transform: scale(.1);
      opacity: 1;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  @-moz-keyframes scaleout {
    0% {
      transform: scale(.1);
      opacity: 1;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  @-webkit-keyframes scaleout {
    0% {
      transform: scale(.1);
      opacity: 1;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  @-ms-keyframes scaleout {
    0% {
      transform: scale(.1);
      opacity: 1;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  @-o-keyframes scaleout {
    0% {
      transform: scale(.1);
      opacity: 1;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate3d(0, 30px, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

}
