.port {

  &__experience {
    display: block;

    .job {

      &__item {
        position: relative;

      }

      &__title {
        width: 100%;
        line-height: 1.7;
        margin-bottom: 15px;
      }

      &__detail {
        font-size: 16px;
        >li {

          margin-bottom: 15px;
          padding-left: 25px;
          position: relative;

          &::before {
            content: "\2022";
            color: #878A8F;
            font-weight: bold;
            position: absolute;
            left: 0;
            display: inline-block;
          }
        }
      }

      &__position {
        font-weight: bold;
        margin-bottom: 0;

        >a {
          text-decoration: none;
        }
      }

      &__time {
        font-size: 15px;
      }
    }

  }
}
